/* Colour pallate
    background-color: rgb(188, 229, 249); pastel blue
    background-color: rgb(177, 218, 126); pastel green
    background-color: rgb(216, 208, 127); pastel brown
    background-color: rgb(100%, 86%, 25%); bright yellow
    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Paytone One', 'Agbalumo', Arial, sans-serif;
    color: rgb(80, 80, 150);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(100%, 86%, 25%);
}

h1, h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
}

h3 {
    font-weight: 100;
    letter-spacing: 0.5px;
}

/* Header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10% 0 10%;
    background-color: rgb(100%, 86%, 25%);
}

.top-header span {
    font-size: 25px;
}

/* Navigation bar */
.navbar-row {
    list-style-type: none;
    margin: 0 14%;
}

.navbar-row a {
    text-decoration: none;
}

.navbar-row li a:hover {
    color: lightyellow;
}

/* Main */
/* Banner */
.banner  {
    background-image:url(./images/banner.jpg);
    background-size: 100%;
    height:15vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 208, 127);
}

.banner h1 {
    font-family: 'Agbalumo', 'Paytone One',  Arial, sans-serif;
    text-transform: uppercase;
    /*margin-bottom: 20%;*/
    text-shadow: 3px 3px 3px white;
}

/* Product Cards */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 13%;
    /*background-color: rgba(177, 218, 126, 0.7);*/
    border-radius: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 18%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(177, 218, 126, 0.7);
}

.card h2 {
    font-size: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.product-row, .navbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.product-button {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    border-radius: 15px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    width: 100%;
}

.product-button:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}

.product-button:active {
    position: relative;
    top: 1px;
}

/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
    background-color: rgb(100%, 86%, 25%);
}

/* Media Query */
@media only screen and (max-width: 1200px) {
    .top-header {
        padding: 3% 6%;
    }
    .product-container, h2 {
        margin: 2% 1%;
    }
    .card {
        width: 30%;
    }
}

@media only screen and (max-width: 650px) {
    .banner h1, h2 {
        font-size: larger;
    }
    .card {
        width: 45%;
    }
}

/* Cart */