* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    text-align: center;
}

/* Header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10% 0 10%;
}

.top-header span {
    font-size: 25px;
}

/* Navigation bar */
.navbar-row {
    list-style-type: none;
    margin: 0 14%;
}

.navbar-row a {
    text-decoration: none;
}

.navbar-row li a:hover {
    color: blue;
}

/* Main */
/* Banner */
.banner  {
    background-image:url(./images/banner.jpg);
    background-size: 100%;
    height:15vh;
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    margin: 2%
}

/* Product Cards */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 13%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 18%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.card h2 {
    font-size: 15px;
}

.card img {
    max-width: 100%;
    height: auto;
}

.product-row, .navbar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.product-button {
    box-shadow: inset 0px -3px 7px 0px #29bbff;
    background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
    background-color: #2dabf9;
    border-radius: 5px;
    border: 1px solid #0b0e07;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 9px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
    width: 100%;
}

.product-button:hover {
    background: linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
    background-color: #0688fa;
}

.product-button:active {
    position: relative;
    top: 1px;
}

/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

/* Media Query */
@media only screen and (max-width: 1200px) {
    .top-header {
        padding: 3% 6%;
    }
    .product-container, h2 {
        margin: 2% 1%;
    }
    .card {
        width: 30%;
    }
}

@media only screen and (max-width: 650px) {
    .card {
        width: 45%;
    }
}

/* Cart */